# Node / frontend
node_modules/
dist/
build/
.vite/

# Env files
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/

# Java / Spring Boot
target/
*.class
*.log

# IntelliJ / IDE
.idea/
*.iml